@font-face {
    font-family: 'Baloo Bhai 2';
    src: url('BalooBhai2-ExtraBold.woff2') format('woff2'),
        url('BalooBhai2-ExtraBold.woff') format('woff'),
        url('BalooBhai2-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo Bhai 2';
    src: url('BalooBhai2-Bold.woff2') format('woff2'),
        url('BalooBhai2-Bold.woff') format('woff'),
        url('BalooBhai2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo Bhai 2';
    src: url('BalooBhai2-Medium.woff2') format('woff2'),
        url('BalooBhai2-Medium.woff') format('woff'),
        url('BalooBhai2-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo Bhai 2';
    src: url('BalooBhai2-Regular.woff2') format('woff2'),
        url('BalooBhai2-Regular.woff') format('woff'),
        url('BalooBhai2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo Bhai 2';
    src: url('BalooBhai2-SemiBold.woff2') format('woff2'),
        url('BalooBhai2-SemiBold.woff') format('woff'),
        url('BalooBhai2-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

